.aboutme-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

.aboutme-body {
  display: flex;
  width: 80%;
}

.image-container {
  position: relative;
  display: inline-block;
  border-radius: 25%;
  padding: 10px;
  background: #5cf1f1;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}

.about-body-left {
  width: 50%;
  height: 85%;
  margin: 20px;
  display: flex;
  gap: 25px;
  text-align: left;
  flex-direction: column;
}

.aboutme-title-div {
  padding: 10px;
  align-items: center;
  width: 90%;
}

.aboutme-title::after {
  content: '';
  position: absolute;
  bottom: 0;
  width: 100px;
  height: 7px;
  border-radius: 50px;
  left: 50%;
  bottom: -20px;
  transform: translate(-50%);
  background: #5cf1f1;
}

.aboutme-title {
  padding: 0;
  font-size: 40px;
  margin: 15px;
  height: 40px;
  white-space: nowrap;
  text-transform: uppercase;
  max-width: 200px;
  color: #181717;
  position: relative;
}

.description-intro {
  font-size: 28px;
  align-self: flex-start;
  font-family: "Open Sans", Sans-serif;
  font-weight: 700;
  display: flex;
  flex-direction: column;
  text-align: left;
}

.aboutme-description {
  font-size: 20px;
  color: white;
  max-width: 60rem;
  line-height: 1.7;
  margin: 0;
}

.about-body-right {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 50%;
  border-radius: 25px;
  margin: 20px;
}

.about-right-bottom {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.skills-header {
  font-size: 25px;
  white-space: nowrap;
  text-transform: uppercase;
  max-width: 200px;
}

.about-skills-flex {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  width: 60%;
}

.skill-card {
  padding: 12px;
  border-radius: 10px;
  background-color: #122b39c3;
  color: #5cf1f1;
  font-weight: 600;
}

.contact-btn {
  background-color: transparent;
  border: 2px solid #5cf1f1;
  display: flex;
  position: relative;
  padding: 10px 20px 10px 20px;
  width: fit-content;
  font-weight: 700;
  font-size: 20px;
  cursor: pointer;
  margin-top: 20px;
}

.contact-btn a {
  text-decoration: none;
  color: #5cf1f1;
  margin-right: 40px;
}

.about-body-left {
  opacity: 0;
  transform: translateX(-100%);
  transition: opacity 1s ease-out, transform 1s ease-out;
}

.about-body-left.animate {
  opacity: 1;
  transform: translateX(0);
}

.about-body-right {
  opacity: 0;
  transform: translateX(100%);
  transition: opacity 1s ease-out, transform 1s ease-out;
}
.about-body-right img {
  max-width: 400px;
  border-radius: 25%;
  position: relative;
  display: inline-block;
  box-shadow: 2px 2px 4px rgba(0,0,0,0.3);
  }
.about-body-right.animate {
  opacity: 1;
  transform: translateX(0);
}

.contact-btn:hover .arrow-icon {
  animation: moveRightAndBack 1.5s infinite;
}

@keyframes moveRightAndBack {
  0% {
    right: 0;
  }
  50% {
    right: 15px;
  }
  100% {
    right: 0;
  }
}

@media screen and (max-width: 500px) {
  .abouttitle-description {
    text-align: flex-start;
    padding: 10px;
  }
}

@media screen and (max-width: 850px) {
  .aboutme-container {
    flex-direction: column;
  }
  .aboutme-body {
    flex-direction: column;
    align-items: center;
  }
  .about-body-left {
    width: 100%;
  }
  .about-body-right {
    width: 100%;
  }

  .image-container img {
    width: 100%;
  }
  .about-skills-flex {
    width: 100%;
  }
}
