.contact-container {
    display: flex;
    padding-bottom: 50px;
    flex-direction: column;
    align-items: center;
}

.contactme-title-div {
    display: flex;
    align-items: flex-start;
    width: 90%;
    flex-direction: column;
    margin-bottom: 30px;
  }
  .contactme-description {
    font-size: 20px;
    color: #666;
    max-width: 60rem;
    line-height: 1.7;
    margin-bottom: 5px;
  }
  
  .contactme-title {
    padding: 0;
    font-size: 40px;
    margin: 15px;
    height: 40px;
    white-space: nowrap;
    text-transform: uppercase;
    color: #181717;
  }

  .contact-link-title {
    font-size: 24px;
    font-weight: 600;
    margin: 0;
  }
  .contactme-links-div {
    padding: 20px;
    display: flex;
    box-shadow: inset 0 1px 0 0 rgba(148,163,184,0.1);
    background-color: rgba(148,163,184,0.1);
    flex-direction: column;
    border-radius: 30px;
    gap: 20px;
    justify-content: center;
    width: 70%;
    max-width: 500px;
}
.contact-input-form form{
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.contact-form {
  width: 70%;
  display: flex;
  align-items: center;
}
.contact-submit {
  background-color: transparent;
  border: 2px solid #5cf1f1;
  color: #5cf1f1;
  padding: 10px 20px 10px 20px;
  width: fit-content;
  font-weight: 700;
  font-size: 20px;
  transition: all .3s ease-in-out;
  cursor: pointer;
}
.contact-submit:hover {
  background-color: #5cf1f1;
  color: black;
}
.contact-form input {
  background-color: rgba(148, 163, 184, 0.304);
  border: none;
  border-radius: 10px;
  width: 90%;
  padding: 15px;
}
input::placeholder,
textarea::placeholder {
  color: white;
  font-weight: 600;
  font-size: 15px;
}

.my-swal-html-container {
    font-size: 20px !important;
    color: white;
    font-weight: 600 !important;
  }

.my-swal-confirm-button {
  /* Styles for the confirm button */
  background-color: transparent !important;
  border: 2px solid black !important;
  background-color: transparent;
  border: 2px solid #5cf1f1!important;
  color: #5cf1f1!important;
  padding: 10px 20px 10px 20px!important;
  font-weight: 700!important;
  font-size: 20px!important;
  border-radius: 0 !important;
}



.contact-form textarea {
  background-color: rgba(148, 163, 184, 0.304);
  border: none;
  height: 100px;
  border-radius: 10px;
  width: 90%;
  padding: 15px;
}
.contactme-links-div p{
    font-size: 18px;
    font-weight: 600;
    white-space: nowrap;
    margin: 0;
}
.contact-information {
  width: 100%;
  display: flex;
  color: #f6f3f7;
  justify-content: space-between;
}

  .contactme-links-div label {
    font-size: 20px;
    color: white;
    font-weight: 600;
    max-width: 60rem;
    line-height: 1.7;
  }

  .contact-left {
    width: 50%;
  }
  .contact-right {
    width: 50%;
  }
  .nav-link-div-contacts span a {
    transition: all .3s ease-in-out;
    cursor: pointer;
  }
  .nav-link-div-contact span a:hover {
    opacity: 1;
    scale: .9;
  }
  @media screen and (max-width: 850px) {
    .contactme-links-div {
      flex-direction: column;
    }
    .contact-link-title-div {
      border-right: none;
      border-bottom: 2px solid #666;
    }
  }
  @media screen and (max-width: 650px) {
  .contact-information {
    flex-direction: column;
    gap: 10px;
  }
  }