.header-container {
    min-height: 90dvh;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    overflow: hidden;
}

.header-flex-split {
    width: 100%;
    height: 70%;
    display: flex;
    z-index: 1;
}
.header-flex-left{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    height: 100%;
    margin-left: 30px;
}
.nowrap {
  white-space: nowrap;
}
.header-intro {
  color: #5cf1f1;
  font-size: 25px;
  font-weight: 600;
}
.light {
  color: #f6f3f7;
}
.desktop-3d {
  width: 100%;
  height: 100%;
  min-width: 960px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.view-work-btn {
  background-color: transparent;
  border: 2px solid #5cf1f1;
  display: flex;
  position: relative;
  padding: 0 20px 0 20px;
  width: fit-content;
  color: #5cf1f1;
  font-weight: 700;
  font-size: 20px;
}
.header-title-div {
    margin-left: 50px;
    width: 70%;
    display: flex;
    flex-direction: column;
    gap: 25px;
}
.header-title-div h2 {
    font-size: 80px;
    color: #727f93;
}
.header-description {
    font-size: 25px;
    max-width: 600px;
    color: white;
}
.coding-png {
  width: 400px;
  opacity: .8;
  aspect-ratio: 1/1;
}
.view-work-btn {
  position: relative;
  display: inline-block;
  cursor: pointer;
}

.btn-text {
  margin-right: 40px;
}

.arrow-icon {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  transition: right 0.3s ease-in-out;
  margin-right: 10px;
}

.view-work-btn:hover .arrow-icon {
  animation: moveRightAndBack 1.5s infinite;
}

@keyframes moveRightAndBack {
  0% {
    right: 0;
  }
  50% {
    right: 15px;
  }
  100% {
    right: 0;
  }
}


@media screen and (max-width: 1200px) and (min-width: 500px) {

  .tilted-text-container {
    left: 0;
  }
  .header-flex-left {
    min-width: none;
  }
  .tilted-text {
    font-size: 100px;
    transform: rotateY(0deg);
  }
  .header-container {
    height: fit-content;
  }
  .view-work-btn {
    padding: 0 15px 0 15px;
    font-size: 16px;
    margin-top: 10px;
  }
  .header-flex-split{
      margin-top: 80px;
      display: flex;
      flex-direction: column;
      align-items: center;
  }
  .header-flex-left {
      align-items: center;
      margin: 0;
      text-align: center;
      justify-content: center;
  }
  .header-title-div {
      margin: 0;
      gap:  0px;
      width: 100%;
  }
    .header-flex-left h2 {
      font-size: 7vh;
    }
  }
  
@media screen and (max-width: 500px) {
  .header-title-div {
    margin: 0px;
    width: 90%;
  }
  .view-work-btn {
    padding: 0 50px 0 15px;
    font-size: 12px;
    font-weight: 500;
    margin-top: 10px;
  }
  .header-flex-left {
    min-width: none;
    width: 100%;
  }
  .desktop-3d {
    height: 500px;
    width: 100%;
    min-width: none;
    margin-left: 30px;
  }
  .header-flex-split{
    margin-top: 80px;
    flex-direction: column;
    align-items: center;
    height: fit-content;
}
  .header-flex-left h2 {
    font-size: 5vh;
  }
  .header-flex-left p {
    font-size: 20px;
    margin: 10px;
  }
}