.header-container {
    height: 80dvh;
    background-color: #0f172a;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    overflow: hidden;
}

.header-flex-split {
    width: 100%;
    height: 70%;
    display: flex;
    z-index: 1;
}
.header-flex-left{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    height: 100%;
    width: 100%;
    margin-left: 30px;
}
.header-intro {
 color: #5cf1f1;
 font-size: 25px;
 font-weight: 600;
}
.light {
  color: #f6f3f7;
}
.view-work-btn {
  background-color: transparent;
  border: 2px solid #5cf1f1;
  display: flex;
  position: relative;
  padding: 0 20px 0 20px;
  width: fit-content;
  color: #5cf1f1;
  font-weight: 700;
  font-size: 20px;
}
.header-title-div {
    margin: 50px;
    width: 70%;
    display: flex;
    flex-direction: column;
    text-align: left;
    gap: 25px;
}
.header-title-div h2 {
    font-size: 80px;
    color: #727f93;
}
.header-description {
    font-size: 25px;
    max-width: 600px;
    color: white;
}
.header-flex-right{
    z-index: 1;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;;
}
.tilted-text-container {
    position: absolute;
    right: 0;
    perspective: 400px;
    text-align: flex-start;
    transition: all 0.5s ease-out;
  }
  
  .tilted-text {
    z-index: 0;
    transform-style: preserve-3d;
    font-size: 180px;
    margin: 0;
    transform: rotateY(-35deg);
    transform-origin: right;
    position: relative;
    color: transparent;
    text-shadow: 
      -1px -1px 0px rgba(255,255,255,0.1),
      1px 1px 0px rgba(0,0,0,0.3),
      2px 2px 10px rgba(0,0,0,0.2),
      3px 3px 20px rgba(0,0,0,0.1),
      4px 4px 30px rgba(0,0,0,0.05);
    transition: all 2s ease-out;

  }
.coding-png {
  width: 400px;
  opacity: .8;
  aspect-ratio: 1/1;
}
.view-work-btn {
  position: relative;
  display: inline-block;
  cursor: pointer;
}

.btn-text {
  margin-right: 40px;
}

.arrow-icon {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  transition: right 0.3s ease-in-out;
  margin-right: 10px;
}

.view-work-btn:hover .arrow-icon {
  animation: moveRightAndBack 1.5s infinite;
}

@keyframes moveRightAndBack {
  0% {
    right: 0;
  }
  50% {
    right: 15px;
  }
  100% {
    right: 0;
  }
}
@media (min-width: 769px) and (max-width: 1024px) {
  .tilted-text {
    font-size: 110px;
    transform: rotateY(-15deg);
  }
}

@media (min-width: 1025px) and (max-width: 1440px) {
  .tilted-text {
    font-size: 150px;
    transform: rotateY(-20deg);
  }
}

@media screen and (max-width: 850px) {

  /* HEADER */
  .tilted-text-container {
    left: 0;
  }
  .tilted-text {
    font-size: 100px;
    transform: rotateY(0deg);
  }
  .header-container {
    height: fit-content;
  }
  .header-flex-split{
      margin-top: 80px;
      display: flex;
      flex-direction: column;
      align-items: center;
  }
  .header-flex-left {
      align-items: center;
      justify-content: center;
  }
  .header-title-div {
      text-align: center;
  }

  }
  
@media screen and (max-width: 500px) {
  .header-title-div {
    margin: 0px;
    width: 100%;
  }
  .header-flex-left h2 {
    text-align: flex-start;
    padding: 0;
  }
  .header-flex-left p {
    text-align: left;
    font-size: 18px;
    margin: 10px;
  }
}