.projects-parent-container{
    background-color: #3d3d3d;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 20px;
    flex-direction: column;
    box-shadow:  inset 0px 11px 8px -10px,
    inset 0px -11px 8px -10px; 
}
.project-header-div {
    display: flex;
    justify-content: center;
    width: 100%;
}

.project-title-div {
    display: flex;
    align-items: center;
    width: 70%;
    flex-direction: column;
}
.project-title {
    padding: 0;
    margin: 30px;
    font-size: 60px;
    max-width: 300px;
    color: white;
}
.project-description {
    font-size: 20px;
    color: white;
    max-width: 60rem;
    line-height: 1.7;
    margin-bottom: 5px;
}
.project-title-div::after {
    content: '';
    position: absolute;
    bottom:0;
    width: 10%;
    height: 10px;
    border-radius: 50px;
    left: 50%;
    bottom: -20px;
    transform: translate(-50%); 
    background: #fbb72c;
  }
.projects-carousel {
   width: 100%;
}

.slick-slide > div {
  margin: 5px 50px 15px;
  transition: all .4s ease-in-out;
}
.project-card-upper {
    display: flex;
    gap: 20px;
}
.project-about-div {
    display: flex;
    flex-direction: column;
    text-align: start;
}
.flex-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    background-color: #f3f4f5;
    padding: 20px;
}
.img-container {
    width: fit-content;
    height: fit-content;
    min-width: 50%;
    position: relative;
}
.card-img {
    width: 100%;
}
.text-container {
    text-align: start;
}
.flex-container p {
    font-size: 20px;
    color: #666;
    max-width: 60rem;
    line-height: 1.7;
    margin: 0;
}
.flex-container h3 {
    margin: 0 0 10 0;
}
.technologies-flex{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    width: 60%;
}
.technologies-card {
    padding: 12px;
    border-radius: 10px;
    background-color: rgba(105, 109, 110, 0.199);
}
.technologies-card p {
    font-weight: 600;
    color: black;
}
.project-links {
    display: flex;
    padding: 10px;
    flex: 1;
    justify-content: center;
    align-items: flex-end;
    gap: 30px;
}
.repo-button {
    text-decoration: none;
    background-color: #f8c663;
    color: black;
    opacity: .8;
    border: 0;
    width: fit-content;
    padding: .7rem;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 700;
    border-radius: 5px;
    box-shadow: 0 5px 15px 3px rgba(0, 0, 0, 0.233);
    transition: all .3s ease-in;
    cursor: pointer;
}
.repo-button:hover {
    transform: translateY(-3px);
    opacity: 1;
  }
.slick-list {
  margin: 10px -10px 40px;
}
.slick-dots li button::before{
    color: white;
}
.slick-dots li.slick-active button:before {
    color: white;
}
.arrowbuttons {
    background-color: transparent;
    color: #ccc;
    border: none;
    cursor: pointer;
    font-size: 2rem;
    margin: 0 10px;
    padding: 0;
    outline: none;
    transition: color 0.2s;
}
.arrowbuttons:disabled{
    color: black;
    cursor: default;
    padding: 0;
}
.current-slide-index {
    font-size: 18px;
    letter-spacing: 0;
    font-weight: 500;
}

.limit-number {
    color: #ccc
}
.carousel-button-container {
    align-self: flex-end;
    display: flex;
    gap: 20px;
    margin-right: 50px;
    position: absolute;
}
@media screen and (min-width: 1500px) {
    .slick-slide > div {
        margin: 5px 200px 15px;
        transition: all .4s ease-in-out;
      }
    }

@media screen and (max-width: 1250px) {
    .project-about-div {
        flex-direction: column-reverse;
    }
    .project-links {
        justify-content: flex-start;
    }
    .slick-slide > div {
        margin: 5px 75px 15px;
        transition: all .4s ease-in-out;
      }
    .flex-container {
        flex-direction: column;
        align-items: center;
    }
    .img-container {
        width: 100%;
    }
    .project-card-upper {
        flex-direction: column;
    }
}
@media  screen and (max-width: 1050px) {

    .slick-slide > div {
        margin: 5px 50px 15px;
        transition: all .4s ease-in-out;
      }
    .repo-button {
        font-weight: 500;
        letter-spacing: normal;
    }
    .img-container img {
        width: 100%;
    }
}
@media  screen and (max-width: 750px) {
    .project-links {
        justify-content: center;
    }
}

@media screen and (max-width: 500px) {
    .slick-list {
         margin: 10px -10px 70px;
    }
    .arrowbuttons {
        margin: 0px;
    }
}