.projects-parent-container{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 20px;
    flex-direction: column;
}
.project-header-div {
    display: flex;
    width: 80%;
    text-align: start;
    justify-content: flex-start;
}

.project-title-div {
    display: flex;
    flex-direction: column;
}
.project-title {
    padding: 0;
    margin: 0;
    font-size: 60px;
}
.project-description {
    font-size: 20px;
    color: white;
    max-width: 60rem;
    line-height: 1.7;
    margin-bottom: 5px;
}

.projects-parent-container {
    opacity: 0;
    transform: translateY(-200px);
    transition: opacity 1s ease, transform 1s ease;
  }
  
  .animate-fade-in {
    opacity: 1;
    transform: translateY(0);
  }
  .tilted-image-slide {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .tilted-image-slide .img-container {
    transition: transform 0.3s ease;
  }

  .tilted-image-slide .img-container:hover {
    transform: rotate(10deg);
  }
  
.project-type {
color: #727f93;
font-size: 20px;
font-weight: 500;
margin: 0;
}
.projects-carousel {
   width: 100%;
   position: relative;
}

.slick-slide > div {
  margin: 5px 50px 15px;
  transition: all .4s ease-in-out;
}
.project-card-upper {
    display: flex;
    gap: 20px;
}
.project-about-div {
    display: flex;
    flex-direction: column;
    text-align: start;
    transition: all 1.5s;
}
.animate-next {
    transform: translateX(100%);
}
.animate-prev {
    transform: translateX(-100%);
}
.flex-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
}
.img-container {
    width: fit-content;
    height: fit-content;
    min-width: 50%;
    position: relative;
    transition: all 1.8s;
}
.card-img {
    width: 100%;
}
.text-container {
    text-align: start;
}

.repo-button:hover {
    transform: translateY(-3px);
    opacity: 1;
  }
.slick-list {
  margin: 10px -10px 40px;
}
.slick-dots li button::before{
    color: white;
}
.slick-dots li.slick-active button:before {
    color: white;
}
.arrowbuttons {
    background-color: transparent;
    color: #ccc;
    border: none;
    cursor: pointer;
    font-size: 2rem;
    margin: 0 10px;
    padding: 0;
    outline: none;
    transition: color 0.2s;
}
.project-brief {
    font-weight: 600;
    font-size: 18px;
}
.tech-card {
    color: #5cf1f1;
    background-color: #122b39c3;
    padding: 10px 15px 10px 15px;
    border-radius: 50px;
}
.tech-flex {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
}
.arrowbuttons:disabled{
    color: black;
    cursor: default;
    padding: 0;
}
.current-slide-index {
    font-size: 18px;
    letter-spacing: 0;
    font-weight: 500;
}

.limit-number {
    color: #ccc
}
.arrow-mid-left {
    position: absolute;
    left: 0;
    bottom: 50%;
}
.arrow-mid-right {
    position: absolute;
    right: 0;
    bottom: 50%;
    cursor: pointer;
}
.arrowbuttons-mid {
    border-radius: 50%;
    width: 65px;
    height: 65px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    cursor: pointer;
    margin: 20px;
}
.arrowbuttons-mid span {
    font-size: 40px;
    padding: 0;
    margin: 0;
    transform: translateY(-2px);
}
.carousel-button-container {
    align-self: flex-end;
    display: flex;
    gap: 20px;
    margin-right: 50px;
    position: absolute;
}
.hide-slide {
    display: none;
  }
  .project-links {
    display: flex;
    gap: 20px;
  }
@media screen and (min-width: 1500px) {
    .slick-slide > div {
        margin: 5px 200px 15px;
        transition: all .4s ease-in-out;
      }
    }

@media screen and (max-width: 1250px) {
    .project-links {
        justify-content: flex-start;
    }
    .slick-slide > div {
        margin: 5px 75px 15px;
        transition: all .4s ease-in-out;
      }
    .flex-container {
        flex-direction: column;
        align-items: center;
    }
    .img-container {
        width: 100%;
    }
    .project-card-upper {
        flex-direction: column;
    }
}
@media  screen and (max-width: 1050px) {

    .slick-slide > div {
        margin: 5px 20px 15px 50px;
        transition: all .4s ease-in-out;
    }
    .repo-button {
        font-weight: 500;
        letter-spacing: normal;
    }
    .arrowbuttons-mid {
        height: 50px;
        width: 50px;
        margin: 5px;
    }
    .img-container img {
        width: 100%;
    }
}
@media  screen and (max-width: 750px) {
    .project-links {
        justify-content: center;
    }
    .arrowbuttons-mid {
        height: 40px;
        width: 40px;
        margin: 5px;
    }
    .arrowbuttons-mid span{
        font-size: 30px;
    }
}

@media screen and (max-width: 500px) {
    .slick-list {
         margin: 10px -10px 70px;
    }
    .arrowbuttons {
        margin: 0px;
    }
}