.resume-parent {
    width: 100%;
    height: 90vh;
    display: flex;
    border: 0;
    flex-direction: column;
}
.pdf-container {
    border: none;
    width: 100%;
    height: 100%;
    zoom: 100%;
}