.skills-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

.skills-title-container {
  width: 90%;
}

.skills-flex-container {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: center;
  gap: 15px;
  padding: 20px;
  position: relative;
}

.single-skill-container {
  opacity: 0;
  transform: translateY(-20px);
  transition: opacity 0.3s ease, transform 0.3s ease;
}

.single-skill-container.visible {
  opacity: 1;
  transform: translateY(0);
}

.skills-flex {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 10px;
}

.skill-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
.skill-img {
  width: 100px;
}
.skills-animate {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  opacity: 0;
}
.skill-name {
  color: white;
  font-weight: 600;
  font-size: 16px;
}



@keyframes fillAnimation {
  0% {
    width: 0%;
  }
  100% {
    width: 100%;
  }
}

@keyframes fadeInAnimation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
/* @media screen and (max-width: 1200px) {
  .skills-flex {
    width: 100%;
} */

@media screen and (max-width: 700px) {
  .skills-flex {
    width: 100%;
}
  .ball-container {
    width: 30%;
  }
}