
  .event-date {
    font-size: 16px;
  }
  .timeline-parent {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .timeline-container {
    width: 80%;
    display: flex;
    margin-top: 100px;
    text-align: start;
    flex-direction: column;
  }
  .timeline-header {
    align-self: flex-start;
    font-size: 70px;
    margin: 0;
    color: #f6f3f7;
}
.timeline-header-container {
    opacity: 0;
}
  .timeline-icon {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .event-card {
    display: flex;
    flex-direction: column;
    text-align: start;
  }
  .experience-ul {
    margin-top: 20px;
    padding-left: 20px;
    text-align: start;
    list-style-type: disc;
  }
  .experience-ul li {
    margin-top: 8px;
    color: white;
    font-size: 16px;
  }
  .event-secondary {
    font-size: 16px;
    color: #727f93;
  }
  .event-content {
    width: 100%;
    height: 100%;
    display: flex;
    text-align: start;
    flex-direction: column;
  }
  
  .event-title {
    font-size: 24px;
    margin: 0;
  }
  .event-description {
    margin-top: 0;
  }
  
  .slide-in {
    animation: slideInFromLeft 1s forwards;
  }
  
  @keyframes slideInFromLeft {
    0% {
      transform: translateX(-100%);
      opacity: 0;
    }
    70% {
        transform: translateX(3%);
        opacity: 1;
    }
    100% {
      transform: translateX(0);
      opacity: 1;
    }
  }